{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
    <!-- This is how to add .css to .html -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    {% block extra_head %}
    {% endblock %}
    <!-- .css are located in 'main/static' -->
    <title>Habit Hack</title>
</head>
<body>
    <div id="site-wrapper">
        <header>
                <h1>HabitHack</h1>
            <nav>
                <ul>
                {% if request.user.is_authenticated %}
                    <li id="login-button"><a href="{% url "main:logout" %}">
                    </a></li>
                    <li><a href="{% url 'main:user' username=request.user.username %}">Profile</a></li>
                    <li><a>Groups</a></li>
                    <li><a href="{% url 'main:home' %}">Home</a></li>
                {% else %}
                    <li>for active people who want to keep track of their routines</li>
                {% endif %}
                </ul>
            </nav>
            <div id="underline-header"></div>
        </header>

        {# The Document Body #}
        <main id="content-wrapper">
            {% block content %}
            {% endblock content %}
        </main>

        <footer></footer>
    </div>
</body>
</html>
