{% extends 'main/base.html' %}
{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'calendar.css' %}">
{% endblock %}

{% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="{% static 'js/Record.js' %}"></script>
<script src="{% static 'js/Habit.js' %}"></script>

<script>
  let habits = [];
  let id;
  let weekdays;
  let numRepeats;
  let habit;  
</script>

{% for habit in habits %}
  <script>
      id = "{{habit.id}}";
      name = "{{habit.name}}";
      weekdays = "{{habit.weekdays}}".split(",").map(str => parseInt(str));
      numRepeats = parseInt("{{habit.num_repeats}}");
      habit = new Habit(id, name, new Set(weekdays), numRepeats);
      habits.push(habit);
  </script>
{% endfor %}

<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block content %}

<table id="habits-table">

</table>
{% endblock %}