{% extends 'main/base.html' %}
{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'calendar.css' %}">
{% endblock %}

{% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="{% static 'js/Record.js' %}"></script>
<script src="{% static 'js/Habit.js' %}"></script>

<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block content %}

<ul>
  {% for habit in habits %}
    <li>{{ habit.name }}</li>
  {% endfor %}
</ul>

<table id="habits-table">

</table>
{% endblock %}