{% extends 'main/index_test.html' %}

{% block content %}
<div>
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    {%if user.first_name != ''%}
        <p>First Name: {{ user.first_name }}</p>
    {% endif %}
    {%if user.last_name != ''%}
        <p>Last Name: {{ user.last_name }}</p>
    {% endif %}
    <p>Email: {{ user.email }}</p>
    <p>Birth Date: {{ profile.birth_date }}</p>
    <p>Gender: {{ profile.gender }}</p>
    {%if profile.city != ''%}
        <p>City: {{ profile.city }}</p>
    {% endif %}
    {%if profile.country != ''%}
        <p>Country: {{ profile.country }}</p>
    {% endif %}
    <p>Picture: {{ profile.picture }}</p>
</div>
{% endblock %}