#habits-table {
    background-color: rgb(255, 255, 255);
}

.habit-row {
    background-color: rgb(255, 255, 255);
}

.habit-cell {
    background-color: rgb(255, 255, 255);
}

.habit-cell-btn-text {
    top: 20%;
    position: relative;
    font-size: 30px;
}

.habit-cell-btn-circle {
    position: relative;
    text-align: center;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
}

.habit-cell-btn {
    position: relative;
    text-align: center;
    border-radius: 100%;
    background-color:#559bb3;
}

.habit-cell-btn_active {
    width: 82px;
    height: 82px;

    background-image:
        linear-gradient(90deg, transparent 50%, #A2ECFB 50%),
        linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}

.habit-cell-btn_inactive {
    left: 4px;
    width: 74px;
    height: 74px;
    background-color: #A2ECFB;
}

.habit-cell-btn-circle_active {
    top: 6%;
    left: 6%;
    width: 88%;
    height: 88%;
}

.habit-cell-btn-circle_inactive {
    /* top: 2px;
    left: 2px; */
    width: 100%;
    height: 100%;
}