/*entire pane*/
/*recent changes --- to create responsive design i added 
@media tags for different sizes of the browser and changed the columns
sizes */

.wrapper{
  display:grid;
  grid-template-areas: 
            "col1 header col2"
            "col1 main col2";
  grid-template-columns: 0.1fr 3fr 0.1fr;
  /*grid-template-columns: 30px 1300px 36px;*/
  grid-template-rows: 126px 600px 42px;
  grid-gap:5px;
  background-color:rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*assigning elements to grid space */
#pageHeader{
  grid-area:header;
}

#pageContent{
  grid-area:main;
  background-color: rgba(255, 205, 0,.5);
}

#Col1{
  grid-area:col1;
}

#Col2{
  grid-area:col2;
}

/*header title -- HabitHack*/
  .header_title{
    position:absolute;
    margin-left:123px;
    margin-top:38px;
    width: 272px;
    height: 46px;
    font-size: 60px;
    line-height: 0.4;
    text-align: center;
    color: #0093c4;
  }

  /*header blue underline*/
  .underline_header{
    grid-column:header;
    position:relative;
    margin-top:103px;
    /*width: 1300px;*/
    height: 6px;
    background-color: #0093c4;
    border: solid 0.2px #0093c4;
  }

    /*logout button in header*/
    .logout_button{
      grid-row-end:header;
      position: absolute;
      margin-top:45px;
      margin-left:1600px;
      width: 32px;
      height: 32px;
    }

  /* profile photo*/
  .Photo {
    grid-column:main;
    position:absolute;
    margin-left:64px;
    margin-top:18px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    overflow: hidden;
    background-color: white; 
  } 
  
  .Photo img {
    display: block;  
    margin: auto;  
    width: 100%;
    height: 100%;
  } 

  /* profile name*/
  .Name {
    grid-column:main;
    position:absolute;
    font-size: 48px;
    line-height: 0.5;
    margin-top:89px;
    margin-left:435px;
    text-align: left;
    color: #000000;
  }

  /* town, country */
  .Town-country {
  grid-column: main;
  position:absolute;
  margin-top:152px;
  margin-left:434px;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #000000;
}

/*profile description*/
.desc {
    position:absolute;
    margin-top:182px;
    margin-left:429px;
    max-width: 500px;
    font-size:18px;
    line-height: 1.33;
    text-align: left;
    color: #000000;
  }

  /* send message button */
  .mssg_button {
    position:absolute;
    margin-top:116px;
    margin-left:910px;
    width: 200px;
    height:50px;
    border-radius:8.5px;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
    border: solid 0.1px #959595;
  }
  /*send message button text*/
  .mssg_text{
    line-height: 50px;
    margin-left:-45px;
    position: relative;
    display: block;
    text-align:center;
    font-size:18px;
    color:black;
  }

  .mssg_img{
    position:absolute;
    display:inline-block;
    margin-top:5px;
    margin-left:20px;
  }
  /*groups button */
  .groups_button{
    position:absolute;
    margin-top:291px;
    margin-left:448px;
    width: 180px;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
    border: solid 0.1px #959595;
    border-radius: 7.7px;
  }

  /*friends button */
  .friends_button{
    position:absolute;
    margin-top:291px;
    margin-left:636px;
    width: 180px;
    height: 70px;
    border-radius: 7.7px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
    border: solid 0.1px #959595;
  }
  /*text for both friends and groups buttons*/
  .button_text{
      position: relative;
      display: block;
      text-align:center;
      font-size:18px;
      color:black;
  }

  /*big text for the amount of friends/groups */
  .big_text{
    font-size:24px;
  }

  /*add me on fb button*/
  .fb_add_button{
    position:absolute;
    margin-top:291px;
    margin-left:825px;
    width: 270px;
    height: 70px;
    background-color: #0093c4;
    border-radius: 7.7px;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
    border: solid 0.1px #959595;
  }

  /*add me on fb button text*/
  .fb_add_text{
      line-height: 70px;
      position: relative;
      text-align:center;
      font-size:24px;
      color:black;
  }

  .edit_button{
    position: absolute;
    margin-top: 450px;
    margin-left: 1000px;
    width: 150px;
    height: 30px;
    border-radius: 7.7px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
    border: solid 0.1px #959595;
  } 

  @media(min-width:300px) and (max-width:1400px){
    .logout_button{margin-top:45px; margin-left:10px;}
  }

  @media (min-width: 1000px) and (max-width: 1150px) {
    .fb_add_button{margin-top:380px;margin-left:450px;}
    .mssg_button{margin-top:116px; margin-left:750px;}
    .edit_button{margin-top:450px; margin-left:820px;}
 }

  @media (min-width: 780px) and (max-width: 1000px) {
    .groups_button{margin-top:350px; margin-left:64px;}
    .friends_button{margin-top:350px; margin-left:250px;}
    .fb_add_button{margin-top:350px;margin-left:450px;}
    .mssg_button{margin-top:270px; margin-left:550px;}
    .edit_button{margin-top:400px; margin-left:600px;}
    #content-wrapper{height:480px;}
 }

  @media (min-width: 300px) and (max-width: 780px) {
    .Name { margin-top:370px; margin-left:64px;}
    .Town-country{margin-top:433px; margin-left:64px;}
    .desc{ margin-top:463px; margin-left:64px;}
    .groups_button{margin-top:570px; margin-left:64px;}
    .friends_button{margin-top:570px; margin-left:280px;}
    .fb_add_button{margin-top:670px;margin-left:64px;}
    .mssg_button{margin-top:300px; margin-left:380px;}
    .edit_button{margin-top:670px; margin-left:64px;}
    #content-wrapper{height: 850px;}
 }

 footer {
   position: fixed;
   bottom: 0;
  width: 100%;
  overflow: visible;
 }