/*entire pane*/

#pageHeader{
  margin: 30px 10px 20px 10px;
}


body {
  height: 90.4vh;
  min-height: 100%;
  margin: 0;
  padding: 0;
}


/*header blue underline*/
.underline_header{
  margin-top: 2px;
  width: 100%;
  height: 6px;
  background-color: #0093c4;
  border: solid 0.2px #0093c4;
}

/*header title -- HabitHack*/
.header_title{
  display: inline-flex;

  margin-left: 123px;
  font-size: 60px;
  line-height: 0.4;
  text-align: center;
  color: #0093c4;
}

/*logout button in header*/
.logout_button {
  display: flex;
  margin-right: 30px;
  float: right;
}

main {
  width: auto;
  height: 100%;
  margin: 10px auto;
  /* background-color: rgba(255, 205, 0,.5); */
}

.wrapper{
  display: grid;
  grid-template-areas: 
            "col1 main col2";
  grid-template-columns: 30px 1300px 30px;
  grid-template-rows: 100%;
  width: 1360px;
  height: 100%;
  /* height: 768px; */
  grid-gap:5px;
  /* background-color:white; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  padding: 0;
}

#pageContent{
  grid-area:main;
  background-color: rgba(255, 205, 0,.5);
}

#Col1{
  width: auto;
  grid-area:col1;
}

#Col2{
  width: auto;
  grid-area:col2;
}

/* profile photo*/
.Photo {
  position:absolute;
  margin-left:64px;
  margin-top:18px;
}

/* profile name*/
.Name {
  position:absolute;
  font-size: 48px;
  line-height: 0.5;
  margin-top:89px;
  margin-left:435px;
  text-align: left;
  color: #000000;
}

/* town, country */
.Town-country {
  position:absolute;
  margin-top:152px;
  margin-left:434px;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #000101;
}
  
/*profile description*/
.desc {
  position:absolute;
  margin-top:182px;
  margin-left:429px;
  max-width: 500px;
  font-size:18px;
  line-height: 1.33;
  text-align: left;
  color: #000000;
}

/* send message button */
.mssg_button {
  position:absolute;
  margin-top:116px;
  margin-left:910px;
  width: 200px;
  height:50px;
  border-radius:8.5px;
  background-color: white;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
  border: solid 0.1px #959595;
}

/*send message button text*/
.mssg_text{
  line-height: 50px;
  margin-left:-45px;
  position: relative;
  display: block;
  text-align:center;
  font-size:18px;
  color:black;
}

.mssg_img{
  position:absolute;
  display:inline-block;
  margin-top:5px;
  margin-left:20px;
}
/*groups button */
.groups_button{
  position:absolute;
  margin-top:291px;
  margin-left:448px;
  width: 180px;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
  border: solid 0.1px #959595;
  border-radius: 7.7px;
}

/*friends button */
.friends_button{
  position:absolute;
  margin-top:291px;
  margin-left:636px;
  width: 180px;
  height: 70px;
  border-radius: 7.7px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
  border: solid 0.1px #959595;
}
/*text for both friends and groups buttons*/
.button_text{
    position: relative;
    display: block;
    text-align:center;
    font-size:18px;
    color:black;
}

/*big text for the amount of friends/groups */
.big_text{
  font-size:24px;
}

/*add me on fb button*/
.fb_add_button{
  position:absolute;
  margin-top:291px;
  margin-left:825px;
  width: 270px;
  height: 70px;
  background-color: #0093c4;
  border-radius: 7.7px;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
  border: solid 0.1px #959595;
}

/*add me on fb button text*/
.fb_add_text{
    line-height: 70px;
    position: relative;
    text-align:center;
    font-size:24px;
    color:black;
}

footer{
  background-color: #0093c4;
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em; 
}