.wrapper{
  display:grid;
  grid-template-areas: 
    "col1 header col2"
    "col1 main col2"
    "col1 footer col2";
  grid-template-columns: 30px 1300px 36px;
  grid-template-rows: 126px 600px 42px;
  grid-gap:5px;
  background-color:white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pageHeader{
  grid-area:header;
}

#pageContent{
  grid-area: main;
  background-color: rgba(255, 205, 0,.5)
}

#Col1{
  grid-area:col1;
}

#Col2{
  grid-area:col2;
}

#Footer{
  grid-area:footer;
}


/*logout button in header*/
.logout_button{
  position:absolute;
  margin-top:45px;
  margin-left:1248px;
  width: 32px;
  height: 32px;
}

/*header blue underline*/
.underline_header{
  position:absolute;
  margin-top:103px;
  width: 1300px;
  height: 6px;
  background-color: #0093c4;
  border: solid 0.2px #0093c4;
}

/* profile photo*/
.Photo {
  position:absolute;
  margin-left:64px;
  margin-top:18px;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  overflow: hidden;
  background-color: white; 
} 

.Photo img {
  display: block;  
  margin: auto;  
  width: 100%;
  height: 100%;
} 

/* profile name*/
.Name {
  position:absolute;
  font-size: 48px;
  line-height: 0.5;
  margin-top:89px;
  margin-left:435px;
  text-align: left;
  color: #000000;
}

/* town, country */
.Town-country {
  position:absolute;
  margin-top:152px;
  margin-left:434px;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #000101;
}

/*profile description*/
.desc {
  position:absolute;
  margin-top:182px;
  margin-left:429px;
  max-width: 500px;
  font-size:18px;
  line-height: 1.33;
  text-align: left;
  color: #000000;
}

/* send message button */
.mssg_button {
  position:absolute;
  margin-top:116px;
  margin-left:910px;
  width: 200px;
  height:50px;
  border-radius:8.5px;
  background-color: white;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
  border: solid 0.1px #959595;
}

/*send message button text*/
.mssg_text{
  line-height: 50px;
  margin-left:-45px;
  position: relative;
  display: block;
  text-align:center;
  font-size:18px;
  color:black;
}

.mssg_img{
  position: absolute;
  display:inline-block;
  margin-top:5px;
  margin-left:20px;
}

/*groups button */
.groups_button {
  position: absolute;
  margin-top:291px;
  margin-left:448px;
  width: 180px;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
  border: solid 0.1px #959595;
  border-radius: 7.7px;
}

/*friends button */
.friends_button{
  position:absolute;
  margin-top:291px;
  margin-left:636px;
  width: 180px;
  height: 70px;
  border-radius: 7.7px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
  border: solid 0.1px #959595;
}
/*text for both friends and groups buttons*/
.button_text{
    position: relative;
    display: block;
    text-align:center;
    font-size:18px;
    color:black;
}

/*big text for the amount of friends/groups */
.big_text{
  font-size:24px;
}

/*add me on fb button*/
.fb_add_button{
  position:absolute;
  margin-top:291px;
  margin-left:825px;
  width: 270px;
  height: 70px;
  background-color: #0093c4;
  border-radius: 7.7px;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
  border: solid 0.1px #959595;
}

/*add me on fb button text*/
.fb_add_text{
    line-height: 70px;
    position: relative;
    text-align:center;
    font-size:24px;
    color:black;
}

.edit_button{
  position: absolute;
  margin-top: 450px;
  margin-left: 1000px;
  width: 150px;
  height: 30px;
  border-radius: 7.7px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.75);
  border: solid 0.1px #959595;
} 